*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #131313;
}

.header{
    background-color: transparent;
    width: 100vw;
    text-align: center;
    position: fixed;
    color: #FF00FF;
    font-size: 2rem;
    border-bottom: 5px solid #404040;
    padding-bottom: 2vh;
    padding-top: 2vh;
    /* padding-left: 5vw; */
    /* padding-right: 10vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

.profile{
    height: 7vh;
    width: 7vh;
    background-color: transparent;
    margin-right: 5vw;
    transition: .2s;
}

.profile:hover{
    transform: translateX(20px);
    cursor: pointer;
}

.profile img{
    height: 7vh;
    width: 7vh;
}

#welcome{
    margin-left: 1vw;
    color: #404040;
    background-color: #FF00FF;
    border-radius: 6px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.loginDiv{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #00000070;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    border: 5px solid #FF00FF;
    height: 45vh;
    width: 15vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: space-around;
    padding: 20px;
    background-color: #00000090;
    border-radius: 7px;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.login-header{
    text-align: center;
    border-bottom: 5px solid #303030;
    padding-bottom: 5vh;
    width: 100%;
}
.login-header h1{
    color: #FF00FF;
    border-radius: 7px;
    font-size: 2.5rem;
}

.login-header p{
    margin-top: 2vh;
    font-size: 1.2rem;
    color: #303030;
}

.login-box .inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.login-box input{
    margin-left: .7vw;
    width: 70%;
    height: 2.5vh;
    border: 3px solid #FF00FF;
    background-color: transparent;
    font-size: 1.2rem;
    color: #FF00FF;
    text-align: center;
    border-radius: 7px;
    font-weight: 600;
    transition: .2s;
}

.login-box input:focus, .login-box textarea:focus, .login-box select:focus{
    outline: none;
    transform: scale(1.05);
}

.login-box svg{
    width: 15%;
}

.login-box button{
    width: 80%;
    height: 20%;
    border-radius: 7px;
    color: #FF00FF;
    text-align: center;
    font-size: 1.5rem;
    background-color: #303030;
    border: none;
    transition: .2s;
}

.login-box button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.cont{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.week{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    height: 80vh;
    width: 95vw;
    border: 5px solid #FF00FF;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 0 0 15px 3px #FF00FF inset;
    -moz-box-shadow: 0 0 15px 3px #FF00FF inset;
    box-shadow: 0 0 15px 3px #FF00FF inset;
}

.day{
    width: 30vw;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    background-color: #303030;
    color: #FF00FF;
    /* border: 2px solid #FF00FF; */
    padding-top: 10px;
    transition: .2s;
    text-align: center;
}

.day:hover{
    transform: scale(1.02);
}

.day p{
    color: #FFFFFF;
    width: 80%;
}

.day img{
    max-width: 20vw;
    max-height: 25vh;
    border-radius: 7px;
    /* margin-top: 2vh; */
    transition: .2s;
}
